<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=2880px, initial-scale=1.0">
    <title>IanMarcoSamaniego</title>
</head>
<body>
    <div style="margin-bottom: 0; background-color: #a9f151; padding: 5px">
        <div class="parent child2">
            <div style="background: #f9c901; border: 2px hidden black; margin: 0; padding: 0rem 0rem; width: 40px; height: 100px;" class="child"></div>
            <div class="child" style="color: rgb(255, 255, 255); border-bottom: 7px dashed rgb(72, 185, 255); width: 80%; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-stretch: expanded;"><h1>Ian Marco Samaniego </h1></div>
            <p style="color: black; font-family: Verdana, Geneva, Tahoma, sans-serif;">Hola, soy Ian Marco Samaniego.</p>
            <p style="color: black; font-family:Verdana, Geneva, Tahoma, sans-serif;">Soy alumno de Ingeniería en Sistemas Computacionales en la Universidad Iberoamericana Puebla y también soy fotógrafo profesional.
            Soy poblano de corazón y he vivido siempre aquí; quiero crecer y conocer todo lo que mi entorno tiene para ofrecer.
            </p>
        </div>
    </div>
    <div class="child2" style="max-width: 25%; border: 4px solid black; align-items: right;">
        <img src="{{ url_for('static', filename='imgs/repo/IAN_ABR-8-109 2.JPG')}}" style="max-width: 100%; margin: 0px; padding: 0px; ">
        <p style="color: black"> <a style="font-weight: bold;">Tel.</a> +52 222 455 3012</p>
        <p style="color: black"><a style="font-weight: bold;">E-Mail:</a> desamaian@outlook.com</p>
    </div>
    <div class="child2 position" style="width: 97%"> 
        <div style="border: 3px solid black; width: 75%; text-align: center;"> 
            <div class="child2 lists" style="border-right: 1px dashed black">
                <h2 style="font-weight: bold; color: black">Gustos</h2>
            </div>
            <div class="child2 lists" style="border-left: 1px dashed black">
                <h2 style="font-weight: bold; color: black;">Habilidades</h2>
                <div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>